In [1]:
print("My name is aryan. I am new to python")

My name is aryan. I am new to python

In [2]:
a=5687523
b=100987
print(a*b)

574365885201

In [3]:
employeename="DEV"
employeename

'DEV'

In [4]:
employeename="sam"
employeename
type(employeename)

str

In [5]:
a=12+7j
type([a])

list

In [6]:
a=12+7j
type(a)

complex

In [7]:
#operators in python

In [8]:
a=100
b=12
print(a*b)

1200

In [9]:
a=100
b=12
print(a*b)
a=100
b=12
print(a+b)
a=100
b=12
print(a**b)
a=100
b=12
print(a/b)

1200
112
1000000000000000000000000
8.333333333333334

In [10]:
a=int(input("Enter a number:"))
print(a)

Enter a number:2
2

In [11]:
a=int(input("Enter a number:"))
if a%2==0:
    print(a," is an even number.")
else:
    print(a," is an odd number.")

Enter a number:2
2  is an even number.

In [12]:
#logical operators

In [13]:
a=True
b=False
print(a&b)
print(a|b)
print(a|a)

False
True
True

In [14]:
#strings

In [15]:
st="rajasthan"
print(st)
string1=st.upper()
print(string1)

rajasthan
RAJASTHAN

In [16]:
st="RAJASTHAN"
print(st.lower())

rajasthan

In [17]:
st="My name is hello world"
print(st)
st.replace('hello','good')

My name is hello world

'My name is good world'

In [18]:
s1="hello this is spartaaaa"

In [19]:
s1.replace('this','XXXX')

'hello XXXX is spartaaaa'

In [20]:
#tuples

In [21]:
t1=(1,2,3,4,5,6,78,9)
type(t1)

tuple

In [22]:
t1

(1, 2, 3, 4, 5, 6, 78, 9)

In [23]:
t1[0]

1

In [24]:
t1[3]

4

In [25]:
t1[2]
t1[2]

3

In [26]:
len(t1)

8

In [27]:
t1=(1, 2, 3, 4, 5, 6, 78, 9)
t2=(1, 2, 3, 4, 5, 6, 78, 9)
t1+t2

(1, 2, 3, 4, 5, 6, 78, 9, 1, 2, 3, 4, 5, 6, 78, 9)

In [28]:
(t1+t2)*3

(1,
 2,
 3,
 4,
 5,
 6,
 78,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 78,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 78,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 78,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 78,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 78,
 9)

In [29]:
#list

In [30]:
l1=[1,2,3,4,5,6,"Spartaaaa","Data"]
print(l1)
print(l1[2:4])

[1, 2, 3, 4, 5, 6, 'Spartaaaa', 'Data']
[3, 4]

In [31]:
l1[1]=56
print(l1)

[1, 56, 3, 4, 5, 6, 'Spartaaaa', 'Data']

In [32]:
l1=[1,2,3,4,5,6,"Spartaaaa","Data"]
print(l1)
print(l1[2:4])
l1.append("Thor")
l1.append("Hulk")
print(l1)

[1, 2, 3, 4, 5, 6, 'Spartaaaa', 'Data']
[3, 4]
[1, 2, 3, 4, 5, 6, 'Spartaaaa', 'Data', 'Thor', 'Hulk']

In [33]:
#dictionary

In [34]:
fruit={"apple":40,"Guava":50,"Banana":60}
fruit

{'apple': 40, 'Guava': 50, 'Banana': 60}

In [35]:
fruit={"apple":40,"Guava":50,"Banana":60}
print(fruit.keys())
print(fruit.values())

dict_keys(['apple', 'Guava', 'Banana'])
dict_values([40, 50, 60])

In [36]:
fruit={"apple":40,"Guava":50,"Banana":60}
fruit["apple"]=50
fruit

{'apple': 50, 'Guava': 50, 'Banana': 60}

In [37]:
fruit1={"apple":40,"Guava":50,"Banana":60}
fruit2={"papaya":90}
fruit1.update(fruit2)
fruit1

{'apple': 40, 'Guava': 50, 'Banana': 60, 'papaya': 90}

In [38]:
#sets

In [39]:
s1={1,2,3,4,5,6,7,7,7,7,7,7}
s1

{1, 2, 3, 4, 5, 6, 7}

In [40]:
s1={"name",2,2,2,22,2}
s1

{2, 22, 'name'}

In [41]:
s1

{2, 22, 'name'}

In [42]:
s1.add("hello world")
s1

{2, 22, 'hello world', 'name'}

In [43]:
s1.remove("hello world")
s1

{2, 22, 'name'}

In [44]:
s1={"name",2,2,2,22,2}
s2={"r","t","k"}
s1.union(s2)

{2, 22, 'k', 'name', 'r', 't'}

In [45]:
s1={"name",2,2,2,22,2}
s2={"r",2,"k"}
s1.intersection(s2)

{2}

In [46]:
#conditional statements

In [47]:
a=int(input("ENter a number:"))
b=int(input("ENter another number:"))
if (a>b):
    print(a," is greater than ",b)
else:
    print(a," is samller than ",b)
print('THANK YOU')

ENter a number:4
ENter another number:2
4  is greater than  2
THANK YOU

In [48]:
lst=[12,34,56,78,90]
lst
a=int(input("which number:"))
if a in lst:
    print(a," is present in list.")
else:
    print(a,"is not present.")

which number:22
22 is not present.

In [49]:
#looping statements

In [50]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [51]:
n=int(input("print multiplication table of:"))
for i in range(1,31):
    print(n,"X",i,"=",n*i)

print multiplication table of:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40
2 X 21 = 42
2 X 22 = 44
2 X 23 = 46
2 X 24 = 48
2 X 25 = 50
2 X 26 = 52
2 X 27 = 54
2 X 28 = 56
2 X 29 = 58
2 X 30 = 60

In [52]:
a=2
a

2

In [53]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [54]:
lst=[1,2,3,4,5,67,88]
for i in lst:
    print(i)

1
2
3
4
5
67
88

In [55]:
lst1=["orange","blue","yellow"]
lst2=["chair","shirt","pants"]
for i in lst1:
    for j in lst2:
        print(i,j)

orange chair
orange shirt
orange pants
blue chair
blue shirt
blue pants
yellow chair
yellow shirt
yellow pants

In [56]:
#basic programs

In [61]:
num=int(input("Enter a number:"))
factorial=1
if (num<0):
    print("Sorry factorial of negative numbers does not exist.")
else:
    for i in range(1,num+1):
        factorial=factorial*i
    print("factorial of",num,"is",factorial)

Enter a number:-3
Sorry factorial of negative numbers does not exist.

In [62]:
#functions in python

In [63]:
def great():
    return("You are a great programmer!!")
def sumof(x,y):
    return(x+y)
great()
sumof(2,4)

6

In [64]:
great()

'You are a great programmer!!'

In [66]:
f=lambda x:x*x*x*x
print(f(2))

16

In [68]:
def even_odd(x):
    if x%2==0:
        print(x,"is even number.")
    else:
        print(x,"is odd number.")
even_odd(8)

8 is even number.

In [71]:
lst=[12,54,62,90,76,77,66,44,33]
flst=list(filter(lambda x:(x%2!=0),lst))
flst

[77, 33]

In [72]:
#class

In [78]:
class Phone:
    
    def make_call(self):
        print("Making call..")
        
    def play_game(self):
        print("Playing game...")

In [79]:
p1=Phone()

In [80]:
p1.make_call()

Making call..

In [81]:
p1.play_game()

Playing game...

In [83]:
class Phone:
    
    def make_call(self):
        print("Making call..")
        
    def play_game(self):
        print("Playing game...")
    
    def set_color(self,color):
        self.color=color
    
    def set_cost(self,cost):
        self.cost=cost
    
    def showcost(self):
        return self.cost
    
    def showcolor(self):
        return self.color

In [84]:
p2=Phone()

In [85]:
p2.set_color('blue')

In [86]:
p2.set_cost(20000)

In [88]:
p2.showcost()

20000

In [89]:
p2.showcolor()

'blue'

In [91]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def showdetails(self):
        print("name:",self.name)
        print("age:",self.age)
        print("salary:",self.salary)
        print("gender:",self.gender)

In [92]:
e1=Employee("SAM",21,200000,"male")

In [94]:
e1.showdetails()

name: SAM
age: 21
salary: 200000
gender: male

In [95]:
#inheritance

In [114]:
class Vehicle:
    def __init__(self,milege,cost):
        self.milege=milege
        self.cost=cost
    def show_details(self):
        print("milege:",self.milege)
        print("cost:",self.cost)

In [115]:
v1=Vehicle(400,400000)

In [116]:
v1.show_details()

milege: 400
cost: 400000

In [117]:
class Car(Vehicle):
    def show_car(self):
        print("Car is I")

In [118]:
c1=Car(200,200000)

In [119]:
c1.show_details()

milege: 200
cost: 200000

In [120]:
class Car(Vehicle):
    def __init__(self,milege,cost,tyres,hp):
        super().__init__(milege,cost)
        self.tyres=tyres
        self.hp=hp
    def show_car_details(self):
        print("i am car.")
        print("tyres",self.tyres)
        print("hp",self.hp)

In [121]:
c1=Car(20,30000,4,760)

In [122]:
c1.show_car_details()

i am car.
tyres 4
hp 760

In [124]:
c1.show_details()

milege: 20
cost: 30000

In [6]:
lst=[1,"Thor","Sword",2,3,7,6,10,100000,2,3000,44,55,6666,666]
lst.insert(2,"Hello")
lst

[1,
 'Thor',
 'Hello',
 'Sword',
 2,
 3,
 7,
 6,
 10,
 100000,
 2,
 3000,
 44,
 55,
 6666,
 666]

In [8]:
lst1=[1,33,55,66666,66,8]
lst1.sort()
lst1

[1, 8, 33, 55, 66, 66666]

In [9]:
lst1=[1,33,55,66666,66,8]
lst1.sort()
lst1

[1, 8, 33, 55, 66, 66666]

In [1]:
#python basic problems

In [2]:
a=1
for i in range(0,5):
    for j in range(0,i+1):
        print(a,end=" ")
        a=a+1
    print("\r")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [5]:
a=300
n=1
while (n<=5):
    if (n<4):
        print(a-n)
    else:
        print(a+n)
    n=n+1

299
298
297
304
305

In [7]:
x=1000
y=2000
n=10
while(n<=50):
    if (n<30):
        x=x-100
        print(n)
    else:
        y=y+100
        print(y)
    n=n+10

10
20
2100
2200
2300

In [10]:
x=100
y=200
n=1
while(n<=10):
    if(n<5):
        x=x-20
        print(n)
    else:
        y=y+10
        print(y)
    n=n+1

1
2
3
4
210
220
230
240
250
260

In [14]:
lst=[]
x=1000
y=3000
i=1
while(i<=100):
    i=i+3
    if(i<60):
        lst.append((y/x))
lst

[3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0]

In [20]:
j=5
k=4
l=3
x=12
while(x<=13):
    x=x+1
    j=j+3
    print(j+3)
    while (j<=16):
        print("@")
        j=j+2

11
@
@
@
@
@
24

In [23]:
m=1
x=4
i=1
while(x<=6):
    x=x+2
    m=x+2
    print(m)
    while(m<=20):
        print(m)
        m=m+10

8
8
18
10
10
20

In [1]:
import numpy as np

In [2]:
n1=np.array([1,2,3,4,5,6,7])
n1

array([1, 2, 3, 4, 5, 6, 7])

In [5]:
n1=np.array([[1,2,3,4,5,6,7],[11,22,33,44,55,66,77],[100,200,300,400,500,600,700]])
n1

array([[  1,   2,   3,   4,   5,   6,   7],
       [ 11,  22,  33,  44,  55,  66,  77],
       [100, 200, 300, 400, 500, 600, 700]])

In [12]:
a=3
b=2
i=1
while(i<=10):
    i=i+1
    b=b*0
    print(b)

0
0
0
0
0
0
0
0
0
0

In [15]:
n1=np.array([100,300,5009])
n2=np.array([200,300,400])
np.sum([n1,n2])

6309